<div class="row align-items-center">
    <div class="col-md-6 col-lg-8 ms-sm-2 me-md-3 me-md-3">
        <div class="categories">
            <div class="category mt-3">
                <a href="/listings">
                    <i class="fa-solid fa-globe"></i>
                    <p>All</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/trending">
                    <i class="fa-solid fa-fire-flame-curved"></i>
                    <p>Trending</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/farms">
                    <i class="fa-solid fa-tractor"></i>
                    <p>Farms</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/rooms">
                    <i class="fa-solid fa-bed"></i>
                    <p>Rooms</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/beachfront">
                    <i class="fa-solid fa-umbrella-beach"></i>
                    <p>Beachfront</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/iconicCities">
                    <i class="fa-solid fa-city"></i>
                    <p>Iconic Cities</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/amazingView">
                    <i class="fa-solid fa-mountain-sun"></i>
                    <p>Amazing Views</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/petFriendly">
                    <i class="fa-solid fa-paw"></i>
                    <p>Pet-Friendly</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/pools">
                    <i class="fa-solid fa-person-swimming"></i>
                    <p>Pools</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/luxury">
                    <i class="fa-solid fa-chess-rook"></i>
                    <p>Luxury</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/surfing">
                    <i class="fa-solid fa-person-skating"></i>
                    <p>Surfing</p>
                </a>
            </div>
            <div class="category ms-3 mt-3">
                <a href="/listings/categories/boating">
                    <i class="fa-solid fa-sailboat"></i>
                    <p>Boating</p>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="form-check form-switch ms-xs-3 ms-md-auto">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        </div>
    </div>
</div>
<script src="/js/switch.js"></script>
